* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    background: #000;
}

.wrap {
    background-color: #000;
    width: 100%;
    
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 20px 50px;
    border: red 2px solid;
    text-align: center;
    font-family: 'VT323', monospace;
    
}
.banner h1 {
    letter-spacing: 7px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

hr {
    width: 60%;
    margin: 10px;
    border: none;
    height: 2px;
    background-color: #fff;
}

.menu-btn-cont {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px;
}

.menu-btn {
    background: #000;
    color: #fff;
    border: #fff 3px solid;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}
.menu-btn:active {
    color: #6f00ff;
    border: 3px solid #6f00ff;
}

.menu-panel {
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    color: #fff;
    border: #fff 3px solid;
    /* padding: 20px; */
    height: 50%;
    width: 60%;
    border-radius: 2px;
    font-size: 29px;
}

.close-menu {
    border: rgb(0, 255, 34) 3px solid;
    display: flex;
    justify-content: flex-end;
    padding: 2px 2px 0 0;
}
.close-menu-btn {
    padding: 3px 7px;
    font-size: 20px;
    background: none;
    border: #fff 3px solid;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.close-menu-btn:active {
    color: red;
    border: 3px solid red;
}

.themes-panel {
    padding: 10px 20px;
}

.themes-panel button {
    background: none;
    border: 3px solid #fff;
    padding: 5px;
    color: #fff;
    border-radius: 40px;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
}
.themes-panel button:active {
    color: #6f00ff;
    border: 3px solid #6f00ff;
}
.themes-panel li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.alien-quotes {
    background-image: url("stars.png");
    padding: 20px 10px;
    border: blue 2px solid;
    display: flex;
    align-items: center;
}

.alien-quotes img {
    width: 100px;
}


.quote-box {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.task-creation-box {
    background: rgb(0, 0, 0);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: hotpink 3px solid;
}

.new-task-btn {
    background: rgb(0, 0, 0);
    border: #3cd070 3.9px solid;
    padding: 9px 20px;
    border-radius: 50px;
    color: #3cd070;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}
.new-task-btn:active {
    color: greenyellow;
    border: greenyellow 3.9px solid;
}

.task-input {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #070707;
    border: #fff 3px solid;
    border-radius: 3px;
    padding: 24px 20px;
    height: 14em;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    text-align: center;
}

#task-input {
    font-size: 23px;
    border-radius: 3px;
    padding: 3px 6px;
    margin: 11px 0 33px 0;
}

.task-input-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.task-input-btns button {
    padding: 5px;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.task-input-btns button:active {
    transform: scale(1.2);
}

.task-list {
    border: rgb(208, 255, 0) 2px solid;
    color: #fff;
    padding: 20px 10px;
}

.task-cont {
    border: 3px solid greenyellow;
    border-radius: 3px;
    padding: 10px 12px 10px 10px;
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
    background: rgb(8, 8, 8);
}

.task-desc {
    color: #fff;
    border: blue 2px solid;
    width: 100%;
    font-size: 21px;
}

.icon-cont {
    display: flex;
    flex-direction: column;
    border: red 1px solid;
    height: 100%;
    margin-left: 10px;
}

 .icon-cont button {
    background: #000;
    border: none;
    padding: 4px 5px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.check-btn:active {
    color: #3cd070;
}
.bin-btn:active {
    color: #950000;
}

.stamp {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: rgb(173, 0, 0);
    font-size: 18px;
}